
ul{
  list-style: none;
  // width:100%;
  padding:10px;
  // background-color: green;
  margin: 0;
}
ul li{
  display: inline;
  color:rgba(56,182,255,255);
  // color:white;
  font-weight: bold;
  padding:20px;
  cursor: pointer;

}
.imglogo{
  margin-top:5px;
  // height:68px;
  width:100%;
}
.leftSide{
 width:8%;

//  border:1px solid red;
}
.rightSide{
  // width:60%;
  // border:1px solid green;
  align-self: center;
  padding-right: 20px;
}
.header{
  display: flex;
  width:100%;
  justify-content: space-between;
  // border:1px solid green;
  // margin-bottom: 30px;
  height:18%;


}
.menu{
  float:right;
}
.icon{
  width:22px;
  vertical-align: middle;
}
.marker{
  color:red;
  vertical-align: super;
}
hr{
  clear: both;
}
.hamMenu{
  display: none;
  float: right;
  // margin-right: 41px;
  height: 29px;
  width: 35px;
}
.menuImg{
  width:100%;
}
@media screen and (max-width: 800px) {
  .menu{
    border: 1px solid rgba(56,182,255,255);
    display: none;
    position: absolute;
    height: 128px;
    right: 0px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .btnMenu{
    border:0;
    background-color: rgba(56,182,255,255);
  }
  ul{
    padding: 0;
  }
  ul li{
    display: block;
    padding: 20px;
  }
  .hamMenu{
    display: block;
    // height: 154px;
    position: relative;
  }
  ul li:hover{
    background-color: rgba(56,182,255,255);
    color:white;
  }
  ul li{
    background-color: aliceblue;
    margin-bottom: 5px;
  }
  .rightSide{
    padding-right: 0px;
  }

}

