.footer{
  margin-top:30px;
  background-color: rgba(56,182,255,255);
  height:30px;
  width:100%;
  color:white;
  padding-left:50px;
  bottom:0;
  // position: fixed;
  position: absolute;
}
span{
  vertical-align: sub;
}
