.formCls{
  display: flex;
  flex-direction: column;
}
.btnDiv{
margin-top: 20px;
width: 100%;
text-align: center;
}
button{
width: 30%;
margin-right: 20px;
line-height: 35px;
border:0;
color:white;
cursor:pointer;
}
label{
margin-top:20px
}
input{
height:35px;
}
h1{
color:rgba(56,182,255,255);
margin:0;
}
.save{
background-color:rgba(56,182,255,255);
}
.cancel{
background-color: red;
}
.error{
color:red;
}
